@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-transform: capitalize;
    font-family: "Karla", sans-serif;
}

h1 {
    font-family: "Karla", sans-serif;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    letter-spacing: 2px;
    font-family: "Bebas Neue", sans-serif;
    margin: auto;
}

#header {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.img_div {
    object-fit: fill;
    max-width: 170px;
    border: 3px solid rgb(212, 174, 174);
  overflow: hidden;
    border-radius: 100px;
    object-fit: contain;
    height: 180px;
    z-index: 1;
    position: absolute;
    margin-right: 420px;
}

.img {
    height: auto;
    width: 190px;
    margin: auto;
}

#contacts {
    border-radius: 50px;
    height: 175px;
    box-shadow: 2px 3px 9px 2px rgb(239, 230, 230);
    border-top: 1px solid red;
    transition-duration: 1s;
}

#contacts:hover {
    box-shadow: 2px 3px 8px 3px rgb(177, 183, 55);
    border-top: 1px solid rgb(177, 183, 55);
}

#contacts h1 {
    margin: 10px 80px 20px 120px;
}

#contacts div {
    margin-left: 150px;
    margin-bottom: 4px;
}

#content {
    display: flex;
    max-height: 550px;
  
    justify-content: space-between;
    flex-direction: row;
}

.left-content {
    display: flex;
    box-shadow: 2px 3px 8px 2px red;
    border: 1px solid rgb(106, 0, 255);
    flex-direction: column;
    max-width: 350px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    background-color: rgba(0, 0, 0, 0.275);
    margin: auto;
    text-overflow: clip;
   
    transition-duration: 1s;
}

.left-content:hover {
    box-shadow: 3px 3px 10px 2px rgb(221, 212, 212);
}

.summ h2 {
    margin: 20px;
}

.summ p {
    margin: 1rem 1rem 0px 1rem;
    padding-left: 20px;
    font-size: 0.9rem;
}

.skills ul {
    margin: 0.9rem;
    padding-left: 20px;
    font-size: 0.9rem;
}

.tech-skills {
    margin: 20px;
}

.tech-skills ul {
    margin: 0.9rem;
    padding-left: 20px;
    font-size: 1.2rem;
}

.experiences {
    margin: 20px;
}

.experiences ul {
    margin: 1rem;
    padding-left: 20px;
    font-size: 0.9rem;
}

.experiences h2 {
    margin-bottom: 5px;
}

.skills h2 {
    margin-left: 20px;
    margin-top: 20px;
}

.right-content {
    display: flex;
    border: 3px solid green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    max-width: 55vw;
    flex-direction: column;
    
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0.275);
    margin: auto;
    padding: 10px;
    transition-duration: 1s;
}

.right-content:hover {
    
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    box-shadow: 3px 5px 10px 2px rgb(131, 185, 131);
}

.last {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 200px;
   
    border-left: 2px solid orange;
    border-top: 2px solid white;
    background-color: rgba(0, 0, 0, 0.275);
    margin: auto;
    border-radius: 25px;
    transition-duration: 2s;
}

.last ul {
    margin: 1rem;
    padding-left: 20px;
    font-size: 0.9rem;
}

.last h2 {
    margin-left: 20px;
    margin-top: 20px;
}

.last:hover {
    border-right: 2px solid white;
    border-bottom: 2px solid orange;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

@media screen and (max-width: 953px) {
    #header {
        flex-direction: column;
        align-items: center;
        background: linear-gradient(184deg, #463762db, transparent);
        margin: 0;
        
    }

   
    .img_div {
        margin: 0px 0px 230px 0px;
    }

    #contacts {
        margin-top: 220px;
        margin-bottom: 30px;
        

    }

    #content {
        flex-direction: column;
        overflow-x: auto;
    }

    .left-content,
    .right-content,
    .last {
        max-width: none;
        margin: 20px;
    }

    
}

@media screen and (max-width: 640px){
    #contacts div {
        margin-left: 36px;
        margin-bottom: 5px;
    }

    #contacts  {
    height: 190px;
    /* margin-bottom: 4px; */
}
        
#contacts h1 {
    margin: 20px 20px;
}

}