 <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>CUSTOMER SERVICES</h3>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Size Guide</a></li>
                    <li><a href="#">Store Locator</a></li>
                    <li><a href="#">Shipping Information</a></li>
                    <li><a href="#">Returns Policy</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>FIND US</h3>
                <address>
                    DAKS Head Office<br>
                    10 Old Bond Street<br>
                    London<br>
                    W1S 4PL
                </address>
            </div>

            <div class="footer-section">
                <h3>ABOUT DAKS</h3>
                <ul>
                    <li><a href="#">Our Heritage</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>

        <div class="social-links">
            <a href="#" class="social-icon">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="social-icon">
                <i class="fa-brands fa-youtube"></i>

            </a>
        </div>

        <!-- Payment Methods -->


        <!-- Copyright -->
        <div class="copyright">
            © 2025 DAKS. All rights reserved.
        </div>
    </footer>


